/* ----------------------------------------- */
:root {
  --color: #111;
  --primary: #FFAB9D;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  font-family: Avenir, sans-serif;
  color: var(--color);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5); /* rgba(--primary, 0.5) 不合法，只能寫死 */
  width: 56px;
  height: 56px;
  transition: all .3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .3s ease;
}

.cta:hover::before {
  width: 100%;
  background: rgba(255, 171, 157, 1);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(.96);
}

/* ----------------------這是分隔線------------------- */

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}
